<% include ../partials/header.js %>

	<h1>Tool Catalog</h1>


	<ul>
		<% for (let i = 0; i < tools.length; i++) {%>
			<li><%=tools[i].url%></li>
			<li><%=tools[i].rentalCost%></li>
			<a href="/<%=tools[i]._id%>">More info...</a>
		<%}%>
	</ul>

</body>
</html>