<% include ../partials/header.ejs %>

	<h1>Tool Catalog</h1>


	<ul>
		<% for (let i = 0; i < tools.length; i++) {%>
			<img class="tool-image" src="<%=tools.url%>" >
			Rental Fee: <%=tools[i].rentalCost.toLocaleString("en-US", {style: "currency", currency: "USD", minimumFractionDigits: 2}) %></li>
			<a href="/tools/<%=tools[i]._id%>">More info...</a>
		<%}%>
	</ul>

</body>
</html>