<!DOCTYPE html>
<html>
<head>
	<title>bittools</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<nav class="navbar navbar-expand-sm ">
		<a class="navbar-brand mb-0 h1" href="/">bittools</a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<!-- link to items index page -->
				<li class="nav-item active"><a class="nav-link" href="/items">Catalog</a></li> 
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Rentals
					</a>
        			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
        				<!-- link to user prior rentals index page /?view=current -->
						<a class="dropdown-item" href="#">Current Rentals</a>
						<!-- link to user prior rentals index page /?view=past -->
						<a class="dropdown-item" href="#">Prior Rentals</a>
        			</div>
        		</li> 
				<li class=nav-item>
						<a class="nav-link" href="#">Name</a>
				</li> <!-- link to account page --> 
				<li class=nav-item>
					<a class="nav-link" href="#">Balance</a>
				</li> <!-- make a payment page -->
			</ul>
		</div>
	</nav>

	

	<p class="message<%= status ? ` ${status}`: `` %>"><%= message %></p>