<!DOCTYPE html>
<html>
<head>
	<title>bittools</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<nav>
		<ul>
			<li>Logo</li> <!-- link to home page -->
			<li><a href="/items">Catalog</a></li> <!-- link to items index page -->
			<li>Rentals</li> <!-- link to user rental index page /?view=current -->
			<li>Rental History</li> <!-- link to user prior rentals index page /?view=past -->
			<li>Name</li> <!-- link to account page --> 
			<li>Balance</li> <!-- make a payment page -->
		</ul>
	</nav>

	<p class="message<%= status ? ` ${status}`: `` %>"><%= message %></p>