<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- custom CSS -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<title>bittools</title>
</head>
<body>

	<nav class="navbar navbar-expand-sm navbar-light bg-light">
		<a class="navbar-brand" href="/">
			<img src="/images/adjustable-wrench.png" width="24" height="30" class="d-inline-block align-top" alt="">
			bittools
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="navbar-nav mr-auto">
				<!-- link to items index page -->
				<a class="nav-item active nav-link" href="/tools">Catalog</a> 
				<div class="nav-item active dropdown">
					<a class=" nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Your Rentals
					</a>
	        			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	        				<!-- link to user prior rentals index page /?view=current -->
							<a class="dropdown-item" href="/rentals/active/">Active Rentals</a>
							<!-- link to user prior rentals index page /?view=past -->
							<a class="dropdown-item" href="/rentals/history/">Rental History</a>
	        			</div> 
        		</div>
        		<a class="nav-item active nav-link" href="">Make a Payment</a> 
		</div>
        		<div class="nav navbar-nav navbar-right">
        			<a class="nav-item active nav-link" href=""> <% if (loggedIn) { %> Hi, <%=name%> <% } %> </a>
					<a class="nav-item active nav-link" href="/users/logout"><% if (loggedIn) { %> [Sign Out] <% } %></a>
					<a class="nav-item active nav-link" href="/users/login"><% if (!loggedIn) { %> Log In <% } %></a>
					<a class="nav-item active nav-link" href="/users/register"><% if (!loggedIn) { %>Register  <% } %></a>
					<a class="nav-item active nav-link" href="#"><% if (loggedIn) { %> <!-- Balance --> <% } %></a>
				</div>
			</div>
	</nav>

	

	<p class="message<%= status ? ` ${status}`: `` %>"><%= message %></p>