<% include ./partials/header.ejs %>

	<h1>Welcome!</h1>

	<a href="/users/login">Log in</a> or <a href="/users/register">register</a><br />

	<a href="users/logout">Sign Out"</a>

<% include ./partials/footer.ejs %>



