body {
	background-color: white;
}

.message.good {
	color: blue;
}

.message.bad {
	color: red;
}

.tool-image {
	width: 200px;
	height: 200px;
}

#container {
	display: inline-block;
}

#container {
	display: flex;
	justify-content: space-between;
	width: 610px;
}