body {
	background-color: lavender;
}

.message.good {
	color: blue;
}

.message.bad {
	color: red;
}

.main-navigation .menu > li > a {
    border-right: 1px solid #000000;
}

.main-navigation .menu > li:last-child > a {
    border-right: 0;
}