body {
	background-color: white;
}

.message.good {
	color: blue;
}

.message.bad {
	color: red;
}

/*.tool-image-div {
	max-height: 200px;
}*/

.tool-image-index {
	width: 200px;
	height: 200px;
}

.tool-image-show {
	width: 300px;
	height: 300px;
}

#container {
	display: inline-block;
}

#container {
	display: flex;
	justify-content: space-between;
	width: 610px;
}

#out-of-stock {
	color: red;
}

#home-header {
	margin-left: 100px;
}

.login-logo {
	width: 80px;
	height: 100px;
}

.label-emphasis {
	font-weight: bold;
}