<% include ../partials/header.ejs %>

<section id="gallery">
   <div class="container">
   	<div class="row">
         <div class="col-lg-4 mb-4">
            <div class="card">
            	<div>
               <img class="card-img-top login-logo" src="/images/adjustable-wrench.png" alt="bittools logo">
               <div class="card-body">
                  <h3 class="card-title">Administrator Page</h3>
                  <p class=card-text><a href="/admins/rentals">Return Items to Inventory</a></p>
               	<p class=card-text><a href="/tools">Edit Items in Inventory</a></p>
               	<p class=card-text><a href="">Add New Items to Inventory</a></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<% include ../partials/footer.ejs %>
