<% include ../partials/header.ejs %>

<h1>Rentals:</h1>

<ul>
	<% for(let i = 0; i < rentals.length; i++){ %>
		<li><a href="/rentals/<%=rentals._id%>"><%=tool.name%></a> 
			Amount Due: <%=rental.amountDue%>
		</li>
</ul>

<% include ../partials/footer.ejs %>
