<% include ../partials/header.ejs %>

<h1>Rentals:</h1>

<ul>
	<% for(let i = 0; i < rentals.length; i++){ %>
		<li><a href="/rentals/<%=rentals._id%>"><%=tool.name%></a> 
			<% if(rental.rental.active == false){ %>
			Amount Due: <%=rental.amount_due%>
			<%} else { %>
			Rental Due: <%=rental.return_date%>
			<%}%>
		</li>
</ul>