
<% include ../partials/header.ejs %>

<h1>Rental:</h1>


<% include ../partials/footer.ejs %>


	// startDate: Date,
	// dueDate: Date,
	// returnDate: Date,
	// active: Boolean,
	// // totalCost: Number,
	// paid: Boolean,
	// amountDue: Number, //tool.rentalCost + calculated lateFee
	// user: {
 //     type: mongoose.Schema.Types.ObjectId,
 //     ref: 'User'
 //   },
 //   item: {
 //     type: mongoose.Schema.Types.ObjectId,
 //     ref: 'Item'
